
h1 {

    text-align: center;
}

.contactDiv1 {

     width: 100%;
     height: 30vh;
     background-color: rgb(137, 228, 137);
     margin: 0;
     padding: 0;


}

.contactDiv2 {

    width: 100%;
    height: 45vh;
    background-color: rgb(228, 221, 165);
    margin: 0;


}

.contactDiv3 {
    display: inline-block;

    width: 100%;
    height: 70vh;
    background-color: rgb(99, 172, 137);
    margin: 0;
    margin-bottom: 0;


}


.contactInfoContainer {

 
 
    width: 40vw;
    height: 50vh;
    min-width: 225px;
    max-width: 440px;


    z-index: 10000;
    position: absolute;
  
    margin-top: -6vh;
 
    border-radius: 10%;
    margin-left: 30%;
    margin-right: 35%;  /*it has an opinion on the center that is untrue*/  /*the margin adapts with the resizing of the box
    if the left side of the box is as far from the left as the constantly expanding right corner when resizing the winodw we have equalitry, units of length*/
 
  
    /*we placed it inside of the container to ensure it was "always" inside the container with posiution absolute*/


  
 

    /*png burger going side to side, and lettuce, and a taco. use transparent border radius, glass contact docu*/
}



#contactH1 {

    font-size: medium;
}

.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;

}



#display {

    display: inline-block !important;
}


form {
    padding: 2em;
    background: rgba(255, 255, 255, 0.479);
    border-radius: 1rem;
    -webkit-box-shadow: -1px 1px 29px 36px rgba(20, 97, 26, 0.75);
-moz-box-shadow: -1px 1px 29px 36px rgba(20, 97, 26, 0.75);
box-shadow: -1px 1px 29px 36px rgba(20, 97, 26, 0.75);
animation: contraction;
animation-duration: 8s;
animation-iteration-count: infinite;
}


@keyframes contraction {
 40% {

 box-shadow:  -10px 5px 29px 36px rgba(139, 231, 111, 0.884);
 }


 100% {

    box-shadow:  -1px 1px 29px 36px rgba(20, 97, 26, 0.75);
 }

}
   




input {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
}

button {
    background: rgb(34, 78, 24);
    border: none;
    width: 18vw;
    min-width: 100px;
    max-width: 200px;

    padding: 1rem;
    color: white;

    cursor: pointer;
    border-radius: 0.2rem;


    margin-top: 2vh;
  
 
    display:block;
    margin: 0 auto;
    margin-top: 5vh;
    position: sticky;

  
  
}

h1.member {

    background-color: rgb(250, 250, 227);
    padding: 40px;
    margin: 0;
}



.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
  
}


input[id=firstName] {
    border: 4px solid #21682d;
    border-radius: 5px;  

 
}

/* we have styled the input with id=firstName */

input[id=lastName] {
    border: 4px solid #21682d;
    border-radius: 5px;  

 
}

input[id=email] {
    border: 4px solid #21682d;
    border-radius: 5px;  
    margin-right: 16px;
 
 
 
 

 
}

.infoContainer {
    height: 80px;


}


.container3 {


  
    justify-content: center;
    margin-top: 4vh;
    grid-template-columns: 160px 160px;
    display: grid;
    column-gap: 5vw;
   
}

.profile {

    background-color: rgb(238, 220, 220);
    border: 5px solid rgb(207, 158, 158);
    border-radius: 5%;
    text-align: center;
    margin-bottom: 4vh;
   
    
}

#roundedProfile {

    border-radius: 170%;
    height: 100px;
    width: 100px;
 
     margin: 0 auto;
     display: flex;
}

b {
    text-align: justify;

}

#text {

    text-align: center;
}


 






.contactContainer {
    min-height: 800px;
}