@media (max-width:400px)
{

   
  h1.welcome {

    padding: 50px;
  }

  p.welcome {

    padding-bottom: 100px;
  }

  h2.searchIndex {

    padding: 10px;
    padding-bottom: 100px;
    padding-top: 100px;
  }

    body {

      display:block;
       
    }
  
}

